a 
{
	color: blue;
	text-decoration : underline;
}
h1 {
	font-size:60px;
	text-align : center;
	border-bottom:1px solid gray;
	margin:0;
	padding:20px;
	padding-bottom : 72px;
}
h2 {
	font-size : 50px;
}
#contents,#button_light {
	border-right: 1px solid gray;
	width:100px;
	margin:0;
	padding:10px;
	padding-top : 5px;
	padding-left: 40px;

}

#button_light {
	padding-top : 10px;
	padding-bottom : 10px;
}
a:visited { color : black }
a:current {color : red}
a:active {color : teal  } 
#curr {color : navy}
body{
	margin:0;
}
#grid{
	
	display : grid;
	grid-template-columns : 150px 1fr;
}
#article{
	padding-left: 72px;
}
@media(max-width:700px)
{
	#grid{
		display: block;
	}
	#contents, #button_light{
		border-right: none;
	}
	h1{
		border-bottom : none;
	}
}